*{
    margin:0;
    padding:0;
    font-family: Helvetica;
    font-weight: lighter;
}
.root__header2{
    font-size: 3.75rem;
    padding-top: 35px;
    padding-bottom:20px;
}
.root__header3 {
    font-size: 2.0625rem;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 7px;
}
.root__header2, .root__header3{
    text-align: center;
    color:#393939;
}
.nav{
    &__main{
        background-color: #FFF0ED;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--heading{
            text-decoration: none;
            color: #393939;
            font-size: 3.125rem;
            margin-right: 40px;
        }
        &-link{
            margin-right: 25px;
            color: #393939;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: normal;
            &--shop{
                color: #5BACC3;
            }
        }
    }
    &__list{
        font-size: 1.3125rem;
        list-style-type: none;
        text-decoration:none;
    }
    &__inline-block {
        display: inline-block;
    }
    &__logo{
        height: 3.125rem;
    }
    &__background{
        &-image {
            background-image: url('../assets/coffee-circle.jpg');
            background-position: center;
            background-size: cover;
            height: 35.938rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: -2;
        }
        &--border{
            width: 285px;
            height:185px;
            border: 4px solid #5BACC3;
            position: relative;
            bottom: 10px;
            right: 15px;
        }
    }
    &__menu{
        background-color: #393939;
        text-align: center;
        padding: 20px;
        &--list {
            color: #FFF;
            border-left: 2px solid #5BACC3; 
            padding-left: 12px;
            padding-right: 15px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
.root__header1{
    font-size: 3.75rem;
    padding-top: 35px;
    padding-bottom:20px;
    &--menu {
        color: #FFF;
        background-color: rgba(70, 70, 70,0.97);
        width: 17.813rem;
        height: 11.563rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1% 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: -1;
        top: 15px;
        left: 15px;
    }
}
.main{
    &__background{
        background-color: #FFF0ED;
        &--middle{
            background-color: #f7f7f7;
        }
    }
    &__paragraph{
        font-style:italic;
        font-size: 1.125rem;
        text-align: center;
        &--price {
            color: #5BACC3;
            font-style: normal;
            font-weight: 400;
            clear: both;
            padding-top: 10px;
            padding-bottom: 13px;
        }
    }
}